@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --large-text: 2rem;
  --medium-text: 1.25rem;
  --small-text: 0.75rem;
  --button-text: 0.875rem;
  --tries-color: #7429c6;
  --button-bg-color: #c951e7;
  --button-hover-bg-color: #cd78e3;
  --button-click-bg-color: #d6afdf;
  --accent-color: #672171;
  --scramblle-bg-color: #4a5567;
  --input-border-color: #97a3b6;
  --scramble-shadow-color: #030616;
  --input-color: #f2f5f9;
  --game-bg-color: #1d2637;
}

/* Reset some default styles */
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

/* Add some styles for body*/
body {
  min-height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  /* background: #020617; */
  color: #cbd5e1;
  font-family: "Outfit", sans-serif;
  line-height: 1.5;
  background-image: url("../images/bg-guess-the-word.png");
  background-position: center center;
  background-size: auto 100vh;
  background-repeat: no-repeat;
  overflow-x: hidden;
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.game-container {
  width: 26rem;
  height: 24.625rem;
  background-color: var(--game-bg-color);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1.625rem;
}

.scrambled-word-container {
  width: 22.75rem;
  height: 4rem;
  border-radius: 1rem;
  background-color: var(--scramblle-bg-color);
  border-bottom: solid 4px var(--scramble-shadow-color);
  text-justify: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.scrambled-word {
  color: var(--input-border-color);
  font-size: var(--large-text);
  font-weight: 500;
  letter-spacing: 0.5em;
}

.tries-mistakes-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.tries-container,
.mistakes-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* width: 40%; */
}
.tries {
  display: flex;
  flex-direction: row;
}
.tries-label,
.mistakes-label {
  font-size: var(--small-text);
  color: var(--scramblle-bg-color);
  margin-right: 0.25rem;
}
.try {
  width: 0.375rem;
  height: 0.375rem;
  margin-left: 0.375rem;
  background-color: var(--scramblle-bg-color);
  border-radius: 100%;
}
.try-wasted {
  width: 0.375rem;
  height: 0.375rem;
  margin-left: 0.375rem;
  border-radius: 100%;
  background-color: var(--tries-color);
}
.mistakes {
  width: calc(9 * var(--button-text));
  color: var(--input-border-color);
  font-size: var(--button-text);
  font-weight: 600;
}

.inputs-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.inputs {
  width: 2.75rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  border: 2px solid var(--input-border-color);
  margin: 2px;
  color: var(--input-color);
  font-size: var(--medium-text);
  text-align: center;
  padding: 0.25rem;
}
.input-active {
  border-color: var(--accent-color);
}
button {
  height: 2.25rem;
  padding-left: 2.25rem;
  padding-right: 2.25rem;
  margin: 1rem;
  color: var(--input-color);
  font-family: "Outfit", sans-serif;
  font-size: var(--button-text);
  background-color: var(--button-bg-color);
  border-radius: 0.5rem;
  border: none;
  border-bottom: 4px solid var(--accent-color);
  &:hover {
    cursor: pointer;
    background-color: var(--button-hover-bg-color);
  }
  &:active {
    height: 2rem;
    border: none;
    background-color: var(--button-click-bg-color);
    transform: translateY(4px);
  }
}
